
%component{
	margin: 5px; padding: 5px;
	border:1px solid ;
	border:1px solid #475577;
}
%bdDefault{
	border:1px solid #D1D5D8;
	background: white;
}
%center{
	display: table;
	margin:0px auto;
	padding: 0px;
}
%tabmessageproperty{
	background: white;
	height: 98%;
	width: 31%;
	float: left;
	padding: 10px;
	z-index: 1;
	overflow-y: scroll;
}
*{margin: 0px auto;padding: 0px;font-family: sertig}
html,body{
	height: 100%;
}
#header{
	color: white;
	background: #28324E;
	width: 100%;
	height: 9%;
	z-index: 1;
}
.menu-list{
	color: white;
}
.text{
	@extend %component;
}
.btn{
	@extend %component;
	width: 100px;
}
#menu-header{
	float: right;
	margin-right: 30px;
}
#menu-header div{
	float: left;

}
#title{
	margin: 5px;
	float: left;
}
.inner-head{
	padding: 10px;
}
.menu-list{
	margin: 10px;
}
#content{
	height: 89%;
	width: auto;
}
#message{
	@extend %tabmessageproperty;
}

#contact-driver{
	@extend %tabmessageproperty;
}
.list-driver{
	padding: 10px;
	margin: 5px;
	width: 90%;
	border:1px solid black;
}
#receive-message{
	@extend %tabmessageproperty;	
	padding: 10px;
}
.text-msg{
	width: 85%;
}
.msg-bar{
padding: 10px;
margin: 5px;
border: 1px solid black;
}
#maps{
	display: block;
	width: 100%;
	height: 100%;
}
#div-form-register{
	float: right;
	width: 20%;
	height: auto;
	margin: 10px;
	border: 1px solid #28324E;
	@include borderrad(3px);
	padding: 10px;
}
.text-regis{
	width: 90%;
}
#div-update-profile{
	display: table;
	margin: 0px auto;
}
@include linkremover();